.container {
	margin: 1rem auto;
	padding: 1.2rem 0;
	width: 28rem;
	background: var(--white);
	border-radius: .5rem;
	box-shadow: .5rem .5rem 1.2rem var(--shadow);
}
header {
	display: flex;
	font-size: 1.5rem;
	font-weight: 500;
	color: var(--blue);
	padding: 1rem 1rem;
	align-items: center;
	border-bottom: 1px solid var(--card-border);
}

.slider__prev,
.slider__next {
	background: none;
	border: 1px solid;
	border-radius: 2px;
	padding: 1.2rem 2.5rem;
	font-size: 1rem;
	cursor: pointer;
	background: var(--blue);
	transition: 0.3s ease;
	border: none;
	width: 6rem;
	height: 3rem;
	font-size: 1.5rem;
	cursor: pointer;
	padding: 3px 0;
	margin: 1rem 1.5rem;
}

button:hover {
	background: var(--shadow);
	color: var(--white);
}

.slider {
	border: 1px solid var(--shadow);
	border-radius: 2px;
	width: 25rem;
	height: 19rem;
	margin: 1.2rem auto;
	overflow: hidden;
}

.slider__line {
	width: 25rem;
	height: 25rem;
	display: flex;
	position: relative;
	left: 0;
	transition: all ease 1s;
}

.slider__img {
	width: 25rem;
	height: 19rem;
}