.wrapper {
  box-shadow: .5rem .5rem 1.2rem var(--shadow);
  padding: 1.5rem 0;
  width: 28rem;
  background: var(--white);
  border-radius: .5rem;
  height: 32.5rem;
}

.timer__menu {
  display: flex;
  gap: 1rem;
}

.timer__logo {
  padding: 1rem;
}

.timer__links {
  font-size: 1.2rem;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.timer__timer,
.timer__long,
.timer__short {
  border: none;
  font-size: 1rem;
  color: var(--white);
  cursor: pointer;
  background: var(--blue);
  transition: 0.3s ease;
  width: 6rem;
}

.timer__link:hover {
  background: var(--blue);
}

.timer__block {
  color: var(--blue);
  text-align: center;
  width: 18rem;
  height: 18rem;
  border: 5px solid var(--blue);
  border-radius: 10rem;
  padding: 6rem 0;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2.5rem;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-size: 2rem;
  padding: 1rem 0 3rem 0;
}

.timer__buttons {
  display: flex;
}

.timer__button_stop,
.timer__button_start,
.timer__button_pause {
  border: none;
  font-size: 1.2rem;
  color: var(--white);
  cursor: pointer;
  background: var(--blue);
  transition: 0.3s ease;
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 1rem 1rem;

  &:hover {
    background: var(--blue);
  }
}